# Don't copy these to Docker image
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
venv/
env/
amz-etl/
logs/
outputs/
*.log
*.csv
.DS_Store
.vscode/
.idea/
*.ipynb
.ipynb_checkpoints/
data/
!data-origin/
README.md
